</main>
<footer class="footer">
  <div class="container flex">
    <section class="footer-section-info basis-2/5">
      <div class="address">
        <a class="logo" href="/" title="JSBase Vietnam">
          <img src="../assets/images/jsbasevietnam-white.png" alt="JSBase Vietnam" title="JSBase Vietnam" />
        </a>
        <h4 class="footer-heading">CÔNG TY TNHH JSBASEVIETNAM<h4>
            <p>MST: 0111999888 - Sở KHĐT TP ABC cấp ngày DD/MM/YYYY</p>
            <p>99 Street, KP99, District A, City B</p>
            <p><a href="tel:093759489">093 759 0489</a><i class="px-1">-</i><a href="tel:1800123456">1800 123 546</a>
            </p>
            <p><a href="mailto:support@sonnm.com">support@sonnm.com</a></p>
      </div>
    </section>
    <div class="footer-section-navigation-menu basis-1/5">
      <h4 class="footer-heading">CÔNG TY</h4>
      <ul class="footer-section-navigation-menu-links">
        <li><a href="">Về Chúng tôi</a></li>
        <li><a href="">Tuyển dụng</a></li>
        <li><a href="">Đội ngũ</a></li>
        <li><a href="">Liên hệ</a></li>
        <li><a href="">Chính sách bảo mật</a></li>
        <li><a href="">Điều khoản sử dụng</a></li>
      </ul>
    </div>
    <div class="footer-section-navigation-menu basis-1/5">
      <h4 class="footer-heading">DỊCH VỤ</h4>
      <ul class="footer-section-navigation-menu-links">
        <li><a href="">Thiết kế website</a></li>
        <li><a href="">Outsourcing</a></li>
        <li><a href="">Tối ưu hóa SEO</a></li>
        <li><a href="">Xây dựng landing page</a></li>
        <li><a href="">Tích hợp các công cụ phân tích</a></li>
        <li><a href="">Báo cáo thời gian thực</a></li>
        <li><a href="">Tích hợp API</a></li>
      </ul>
    </div>
    <div class="footer-section-navigation-menu basis-1/5">
      <h4 class="footer-heading">THÔNG TIN</h4>
      <ul class="footer-section-navigation-menu-links">
        <li><a href="">Tin tức thị trường</a></li>
        <li><a href="">Báo cáo & Phân tích</a></li>
        <li><a href="">Kiến thức về quảng cáo</a></li>
        <li><a href="">Kiến thức bán hàng</a></li>
        <li><a href="">Xây dựng quy trình</a></li>
        <li><a href="">Quản lí đội nhóm</a></li>
      </ul>
    </div>
  </div>
  <!-- <div class="container">
    <div class="text-center">
      <a href=""><span class="material-icons text-4xl">facebook</span></a>
      <a href=""><span class="material-icons text-4xl">smart_display</span></a>
    </div>
    <div class="text-center text-lg py-4">
      Copyright @ nodepress 2022
    </div>
    <div class="text-center text-sm">
      Powered by <a class="font-bold text-primary" href="https://github.com/jsguru-net/nodepress">NodePress</a> - Made
      with love from <a class="font-bold text-primary" href="https://github.com/jsguru-net/nodepress">jsguru.net</a> -
      Build
      Version 202201302230
    </div>
  </div> -->
</footer>
</body>

</html>