<div class="card card-post-default">
  <a href="post.html"><img class="card-post-image" src="../assets/images/post-image.png" alt="Flower and sky" /></a>
  <div class="px-6 py-4">
    <h2 class="card-post-title"><a href="post.html">NestJS là gì?</a></h2>
    <div>
      <a href="./category.html" class="card-post-category">Category</a>
    </div>
    <div><span class="card-post-date">19/01/2022</span></div>
    <div class="card-post-description">NestJS là 1 framework nodejs sử dụng typescript, hỗ trợ phát triển ứng
      dụng web, api.</div>
  </div>
</div>