<div class="pagination">
  <div class="pagination-mobile">
    <a href="#" class="pagination-prev">
      Previous
    </a>
    <a href="#" class="pagination-next">
      Next
    </a>
  </div>
  <div class="pagination-desktop">
    <div>
      <p class="text-sm text-gray-700">
        Showing
        <span class="font-medium">1</span>
        to
        <span class="font-medium">10</span>
        of
        <span class="font-medium">97</span>
        results
      </p>
    </div>
    <div>
      <nav class="pagination-pager" aria-label="Pagination">
        <ul class="inline-flex">
          <li><a href="#" class="pagination-pager-prev">Prev</a></li>
          <li><a href="#" class="pagination-pager-active-link">1</a></li>
          <li><a href="#" class="pagination-pager-link">2</a></li>
          <li><a href="#" class="pagination-pager-link">3</a></li>
          <li><span class="pagination-pager-span">...</span></li>
          <li><a href="#" class="pagination-pager-link">8</a></li>
          <li><a href="#" class="pagination-pager-link">9</a></li>
          <li><a href="#" class="pagination-pager-link">10</a></li>
          <li><a href="#" class="pagination-pager-next">Next</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>